*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
@media(max-width:768px)

{
    header{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    text-align: center;
    background-color: blue;
    color: white;
}
.desktop-header{
    display: none;
}
.mobile-header{
    background-color: blue;
        color: white;
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 2em;
        width: 100%;
        overflow: hidden;
}
.scroll-text {
        display: flex;
        font-weight: bold;
        animation: scroll 9s linear infinite;
    }

    .scroll-text span {
        padding-right: 2rem;
    }

    @keyframes scroll {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-50%);
        }
    }
nav a{
    color: white;
}
.unbounce{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 1em;
}
.unbounce img{
    width: 100px;
    height: 90px;
}
.hamburger svg{
    position: relative;
}
.unbounce >ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2em;
    font-size: 1.2em;
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    background-color: black;
}
ul > li {
    border-bottom: 4px solid #444;
}
.unbounce >ul>li>a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.unbounce >ul>li>a svg {
    transition: transform 0.5s ease-in; 
}
.unbounce >ul>li:hover>a svg {
    transform: rotate(180deg); 
}
.unbounce >ul>li>a{
    text-decoration: none;
}
.unbounce >ul>li>a>span{
    color: white;
    flex-grow: 1;
}
.unbounce >ul>li:hover .dropdown{
    max-height: 500px;
    opacity: 1;
    visibility: visible;  
}
.unbounce:hover ul{
    opacity: 1;
    visibility: visible;
    padding: 1em;
    top: 15%;
    right: 0%;
    width: 100%;
}
.dropdown{
    background-color: white;
    transition: max-height 0.3s ease;
    border-radius: 1em;
    max-height: 0;
    padding: 1em;
    width: fit-content;
    opacity: 0;                     
    visibility: hidden;
}
.dropdown ul{
    list-style: none;
    width: 10em;
    gap: 1em;
}
.dropdown ul li a{
    text-decoration: none;
    width: 100%;
    color: black; 
    padding: 0.5em;
    font-size: larger;                      
}
.reach-out{
    display: flex;
    align-items: center;
    gap: 0.2em;
    display: none;
}
.reach-out img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.log-in{
    width: 60px;
    height: 30px;
    border: solid 1px white;
    background-color: black;
    color: white;
    cursor: pointer;
}
.log-in:hover{
    background-color: blue;
    color: white;
    border: solid 1px white;        
}
.trial{
    width: 150px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.trial:hover{
    background-color: rgb(194, 191, 191);
    color: black;
}
hr{
    height: 1px;
    width: 100%;
}
.plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 2em 7em;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    gap: 2em;
    width: 350px;
    padding-bottom: 2em;
}
.hr-div{
    display: flex;
    align-items: center;
    margin-right: 14em;   
    gap: 0.3em;
}
.text hr{
    width: 1350px;
    justify-content: flex start;
}
.text h3{
    font-size: 3em;
    font-weight: 20;

}
.text p{
    width: 22em;
}
.text button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: white;
    color: black;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
.text button:hover{
    background-color: green;
    color: white;
}
.plans img{
    width: 350px;
    height: 300px;
    border-radius: 2em;
}
.joined-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    text-align: center;
}
.card1 img{
    height: 100px;
    width: 100px;
}
.card1 p{
    width: 290px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}
.card2 img{
    height: 100px;
    width: 100px;
}
.card2 p{
    width: 290px;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}
.card3 img{
    height: 100px;
    width: 100px;
}
.card3 p{
    width: 290px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 0em;
    gap: 0.5em;
    position: relative;
}
.logo img{
    width: 70px;
    height: 40px;
    color: white;
    border-radius: 15px;
}
.section1{
    border-bottom: 1px solid rgb(211, 206, 206);
    background-color: rgb(231, 229, 229);
    padding: 1em;
}
.section1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1em;
}
.section1 h3{
    font-weight: 7em;
    font-size: 2em;
}
.section1 p{
    width: 330px;
    font-weight: bold;
}
.integration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0em;
    gap: 1em;
    overflow-x: scroll;
}
.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    gap: 1em;
}
.stack img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
}
#stack{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#stack svg{
    cursor: pointer;
}
#stack span{
    cursor: pointer;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    border-bottom: 1px solid rgb(211, 206, 206);
    background-color: rgb(231, 229, 229);
    padding: 1em;
}
.section2 h3{
    font-weight: 1em;
    font-size: 1.5em;
    width: 350px;
    text-align: center;
}
#cardz{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
#cards1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    gap: 2em;
    text-align: center;
}
#card1 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card1 p{
    width: 290px;
}
#card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
    z-index: 1;
}
#card2 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card2 p{
    width: 290px;
}
#card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}
#card3 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card3 p{
    width: 290px;
}
#cards2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
#card4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    gap: 2em;
    text-align: center;
}
#card4 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card4 p{
    width: 290px;
}
#card5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}
#card5 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card5 p{
    width: 290px;
}
#card6{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}
#card6 img{
    height: 100px;
    width: 100px;
    border-radius: 1.5em;
}
#card6 p{
    width: 290px;
}
.section2 button{
    width: 200px;
    height: 50px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
.section2 button:hover{
    background-color: green;
    color: white;
}
.section3>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 10em;
    gap: 2em;
    border-bottom: 1px solid rgb(211, 206, 206);
    background-color: rgb(231, 229, 229);
}
.section3 img{
    width: 150px;
    height: 150px;
    border-radius: 1.5em;
}
.text-div{
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.text-div p{
    font-size: 1.5em;
    width: 350px;
}  
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    background-color: blue;
} 
#textss{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}
.section4 h3{
    font-size: 2em;
    font-weight: 7em;
    width: 340px;
}
.section4 p{
    width: 340px;
}
#svg{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding-bottom: 1em;
}
.section4 img{
    width: 340px;
    height: 250px;
    border-radius: 2em;
}
.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    gap: 2em;
    border-bottom: 1px solid rgb(211, 206, 206);
    background-color: rgb(231, 229, 229);
}
.section5>div{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}
.section5 h3{
    font-size: 1.5em;
    font-weight: 10em;
    width: 330px;
}
.section5 p{
    width: 330px;
}
.section5 img{
    width: 330px;
    height: 300px;
}
footer{
    background-color: rgb(231, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 4em 3em;
}
footer>div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
footer img{
    width: 30px;
    height: 30px;
}
.About{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.sub-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
#sub-heading{
    font-size: 1.5em;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1em;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    gap: 1em;
}
#last{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
}
#last-img{
    padding-top: 1em;
    gap: 2em;
}
#last img{
    width: 50px;
    height: 50px;
}
}